services:
  registry:
    image: registry:3
    container_name: registry
    ports:
      - "5000:5000"
    restart: always
    volumes:
      - ./docker/config.yml:/etc/docker/registry/config.yml
      - registry_data:/var/lib/registry
    mem_limit: 1g
    cpus: "1.0"

volumes:
  registry_data:
    driver: local
